<% include partials/header.ejs %>
<div id ='about-page-flexbox'>
	<img id='about-page-headshot' src="http://joerehfuss.com/assets/portfoliopic.gif"/>
	<h2 id = 'about-page-desc'>Joe is a full-stack web developer/amatueur board game designer who has been passsionate about board games for as long as he can remember.  He lives in Seattle, WA</h2>
</div>
<% include partials/footer.ejs %>