body { 
	margin:0;
	padding:0;
	background: #5A3F37;
	background: -webkit-linear-gradient(to right, #2C7744, #5A3F37);
	background: linear-gradient(to right, #2C7744, #5A3F37);
	color:white;
	font-family:'Roboto', sans-serif;
 }

 h1 {
 	font-size: 72px;
 	text-align:center;
 }
 
 a {
 	color:white;
 	text-decoration: none;

 }

textarea {
	height:33vh;
}

textarea:focus{
	border: 1px solid white
}

.navbar-link {
	display:inline-block;
	font-size:32px;
}

.navbar-link:hover {
	background-color:gray;
}

 .flex-box {
 	height:75vh;
 	display:flex;
 	justify-content:space-around;
 	align-items:center;
 }

.splash-page-link {
	height:50%;
	width:25%;
	display:flex;

}

.game-link {
	height:30vh;
	width:24%;
	border-radius: 3%;
	opacity: 0.5;
	background-color: #bdc3c7;
	color:black;
	overflow:hidden;
	box-shadow: 2px 4px;
}

a.game-link:hover {
	background-color: white;
}

.game-div:hover {
	opacity:1;
}

 .index-page-score {
 	float: right;
 }

 .new-game-input {
 	background:transparent;
 	border:none;
 	border-bottom:1px solid white;
 	width:33vw;
 	align-items:center;
 	color:white;
 	font-size:30px;

 }

 .new-game-textarea {
 	background:transparent;
 	border:none;
 	border-bottom:1px solid white;
 	width:33vw;
 	align-items:center;
 	color:white;
 	font-size:20px;
 }

.new-game-input:focus {
	outline:none;
}

 ::placeholder{
 	color: white;
 	opacity:0.75;
 	text-align: center;
 }

.new-form-flexbox {
	display:flex;
	flex-direction:column;
	align-items:center;
}

.show-page-buttons {
	background:#bdc3c7;
	border:none;
	height:10vh;
	width:10vw;
	border-radius:4px;
}

.show-page-buttons:hover{
	background: white
}

.game-show-details {
	margin:5px;
	padding:0;
}

#navbar {
	display: flex;
	justify-content: space-around;
	height:10vh;
	align-items: center;
	margin:0;
	padding:0;
	width:100%;
	border:none;
	list-style-type: none;
	background:black;
}

#game-index-flex-box {
	flex-wrap:wrap;
}

 #board-game-review-link {
 	display:flex;
	justify-content: center;
	align-items:center; 
 	width:100%;
 	background-image: url("https://images.pexels.com/photos/872959/pexels-photo-872959.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
 	background-size: cover;
 }

#video-game-review-link {
	display:flex;
	justify-content: center;
	align-items:center; 
	width:100%;
 	background-image: url("https://images.pexels.com/photos/687811/pexels-photo-687811.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
 	background-size: cover;
 }

#games-index-new-link {
	background-color:#bdc3c7;
}

#games-index-new-link:hover {
	background-color:white;
}

#new-form-submit{
	width:33vw;
}

#show-page-flexbox {
	display:flex;
	justify-content:center;
}

#show-page-container {
	width: 40vw;
}

#show-page-score {
	float: right;
	font-size:48px;
	padding: 0;
}

#show-delete-button {
	float:right;
	background-color:#e74c3c;
	opacity:0.5;
}

#show-delete-button:hover {
	opacity: 1;
}