<% include ../partials/header.ejs %>
<form class='editBtn' method="post" action="/games/<%= game.id %>">
	Title:<input type="text" name="title" value="<%=game.title%>">
	Score:<input type="text" name="score" value="<%= game.score %>">
	Description:<input type="text" name="description" value="<%= game.description %>">
	<input type="submit" >
</form>

<% include ../partials/footer.ejs %>