<% include ../partials/header.ejs %>
<h1>games index page</h1>
<ul>
	<a href="/games/1">1st game</a>
	<a href="/games/2">2nd game</a>
	<a href="games/3">3rd game</a>
</ul>
<% include ../partials/footer.ejs %>