<% include ../partials/header.ejs %>
<h1>games index page</h1>
<% games.forEach(function(game) { %>
	<div class='gameDiv'>
		<h2><%=game.title%></h2>
		<h5><%=game.score%></h5>
		<p><%=game.description%></p>
	</div>
<%})%>
<% include ../partials/footer.ejs %>