<% include ../partials/header.ejs %>
<h1>Add a new game!</h1>
<form method="post" action="/games" class='new-form-flexbox' id='new-form'>
	<input class='new-game-input'placeholder='Title' type="text" name="title">
	<input class='new-game-input'placeholder='Score' type="text" name="score">
	<textarea class='new-game-input'placeholder='Description' type="text" name="description" form='new-form'></textarea>
	<input type="submit" id='new-form-submit'>
</form>

<% include ../partials/footer.ejs %>