<% include ../partials/header.ejs %>
<form method="post" action="/games">
	Title:<input type="text" name="title">
	Score:<input type="text" name="score">
	Description:<input type="text" name="description">
	<input type="submit">
</form>

<% include ../partials/footer.ejs %>