<% include ../partials/header.ejs %>
<h1><%= game.title%></h1>
<h3> <%= game.score %></h3>
<p><%= game.description %></p>
<a href="/games/<%= game.id %>" class = 'deleteBtn'>Delete!</a>
<% include ../partials/footer.ejs %>